<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKOEN1FJ6K9crM5D0cJDJ5pxlEUUMh2Ho</string>
	<key>GCM_SENDER_ID</key>
	<string>511736524993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.privaSocialmedia</string>
	<key>PROJECT_ID</key>
	<string>priva-socialmedia</string>
	<key>STORAGE_BUCKET</key>
	<string>priva-socialmedia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511736524993:ios:77d100096651f9c564e440</string>
</dict>
</plist>